<%-include('../layout/header.ejs') %>

</head>

    <body>
        <%-include('../layout/navigation.ejs')%>
<div class="container my-5 col-6 ">
    <form action="/signup" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="col-12 m-auto">
            <%if(error) {%>
                <div class="div" style="color: rgba(250, 7, 7, 0.5);">
                    <p class="text-red">
                        <%=error%>
                    </p>
                </div>
            <%}%>
            <h2>Registration</h2>
            <div class="form-group">
                    <label for="firstName">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="firstName" class="form-control" name="firstName" autofocus>
                    </div>
            </div>
                
            <div class="form-group">
                <label for="lastName" >Last Name</label>
                <div class="col-sm-9">
                    <input type="text" id="lastName" placeholder="Last Name" name="lastName" class="form-control" >
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email* </label>
                <div class="col-sm-9">
                    <input type="email" id="email" placeholder="Email" class="form-control" name="email">
                </div>
            </div>
        
            <div class="form-group">
                <label for="password">Password*</label>
                <div class="col-sm-9">
                    <input type="password" id="password" placeholder="Password" name="password" class="form-control">
                </div>
                </div>
            
            <div class="form-group">
                <label for="password">Confirm Password*</label>
                <div class="col-sm-9">
                    <input type="password" id="password" placeholder="Password" name="confirmPassword" class="form-control">
                </div>
            </div>
        
            <div class="form-group">
                <label for="phoneNumber">Phone number </label>
                <div class="col-sm-9">
                    <input type="phoneNumber" id="phoneNumber" name="phoneNo" placeholder="Phone number" class="form-control">
                </div>
            </div>
        
            <div class="form-group">
                <label class="control-label col-sm-3">Gender</label>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="radio-inline">
                            <input type="radio" id="femaleRadio" name="gender" value="Female">Female
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <label class="radio-inline">
                            <input type="radio" id="maleRadio" name="gender" value="Male">Male
                            </label>
                        </div>
                    </div>
                </div>
            </div> <!-- /.form-group -->
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <span class="help-block">*Required fields</span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
    </form>
    <%-include('../layout/tail.ejs')%>