<%-include('../layout/header.ejs') %>

</head>

<body>
    <%-include('../layout/navigation.ejs')%>
    <div class="container my-5 col-6 ">
        <form action="/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div>
                <%if(error) {%>
                <div class="div" style="color: rgba(250, 7, 7, 0.5);">
                    <p class="text-red">
                        <%=error%>
                    </p>
                </div>
                <%}%>
            </div>
            <h2>Login</h2>
            <div class="form-group">
                    <label for="email">Email</label>
                    <div>
                        <input type="text" id="email" class="form-control" name="email" autofocus>
                    </div>
            </div>
                
            <div class="form-group">
                <label for="password" >Password</label>
                <div>
                    <input type="text" id="password" name="password" class="form-control" >
                </div>
            </div>
            <div>

            <button type="submit" class="btn btn-primary btn-block">login</button>
            </div>

        </div>
    </form>
<%-include('../layout/tail.ejs')%>
