<%-include('../layout/header.ejs') %>

</head>

<body>
    <%-include('../layout/admin-nav.ejs')%>

    <div class="page-wrapper">
        <div class="content">
            <div class="row">
            </div>
            <div class="row">
                <%if(error) {%>
                <div class="div" style="color: rgba(250, 7, 7);">
                    <p class="text-red">
                        <%=error%>
                    </p>
                </div>
                <%}%>
        </div>
            <form action="/admin/add-device" class="row" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <input type="hidden" value="<%=id%>" name="id">
                <div class="form-group">
                    <input type="text" placeholder="Device Name" class="form-control" name="deviceName">
                </div>
                <div class="form-control">
                    <button type="submit"> Add device</button>
                </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <%if(devices.length>0){%>
                        <table class="table table-striped custom-table mb-0 ">
                            <thead>
                                <tr>
                                    <th>SN</th>

                                    <th> Name</th>
                                    <th>status</th>

                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <%for(let i = 0; i<devices.length; i++){%>
                                <tr>
                                    <td><%=i+1%></td>
                                    <td><span class="custom-badge "><%=devices[i].name%></span></td>
                                    </td>
                                    <td><span class="custom-badge <%=devices[i].status?"status-green":"status-red"%>"><%=devices[i].status%></span>
                                    </span></td><span>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>

                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href=""><i class="fa fa-pencil m-r-5">
                                                    </i>Edit</a>
                                                <a class="dropdown-item" href="/admin/delete-device/<%=id%>/<%=devices[i]._id%>"><i class="fa fa-trash-o m-r-5"></i>
                                                    Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <%}%>
                        </tbody>
                    </table>
                <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%-include('../layout/tail.ejs')%>