<%-include('../layout/header.ejs') %>

</head>

<body>
    <%-include('../layout/admin-nav.ejs')%>
  
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-5 col-5">
                <h4 class="page-title"><%=userName%></h4>
            </div>
        </div>
        <div class="row">
            <%if(error) {%>
            <div class="div" style="color: rgba(250, 7, 7);">
                <p class="text-red">
                    <%=error%>
                </p>
            </div>
            <%}%>
        </div>
            <form action="/admin/add-room" class="row" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <input type="hidden" value="<%=id%>" name="id">
                <div class="form-group">
                 <input type="text" placeholder="Room Name" class="form-control" name="roomName">
                </div>
                <div class="form-control">
                    <button type="submit"> Add Room</button>
                </div>
                </form>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <%if(rooms.length>0){%>
                    <table class="table table-striped custom-table mb-0 ">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th> Name</th>
                                <th>Number of Device</th>
                                <th>View Devices</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <%for(let i = 0; i<rooms.length; i++){%>
                            <tr>
                                <td><%=i+1%></td>
                                <td><span class="custom-badge "><%=rooms[i].name%></span></td>
                                <td><span
                                        class="custom-badge"><%=rooms[i].devices.length%></span>
                                </td>
                                <td> <a href="/admin/user/device/<%=rooms[i]._id%>" class="btn btn-primary">View Devices</a></td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item"
                                                href=""><i
                                                    class="fa fa-pencil m-r-5"> </i>Edit</a>
                                            <a class="dropdown-item" href="/admin/delete-hospital/<%=rooms[i]._id%>"
                                                data-toggle="modal"><i class="fa fa-trash-o m-r-5"></i>
                                                Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <%}%>
                        </tbody>
                    </table>
                <%}%>
                </div>
            </div>
        </div>
    </div>
    </div>

    <%-include('../layout/tail.ejs')%>
