<%-include('../layout/header.ejs') %>

</head>

<body>
    <%-include('../layout/admin-nav.ejs')%>

<div class="page-wrapper">
    <br/>
                    <div class="row">
                        <div class="col-sm-4 col-3">
                            <h4 class="page-title">Users</h4>
                        </div>
                        <div class="col-sm-8 col-9 text-right m-b-20">
                            <a href="/signup" class="btn btn-primary btn-rounded float-right"><i
                                    class="fa fa-plus"></i> Add User</a>
                        </div>
                    </div>
                    <div class="row user-grid">
                        <%if(users.length>0){%>
                            <%for(let i=0;i<users.length;i++){%>
                                <%if(users[i].userType !== 'admin'){%>
                        <div class="col-md-4 col-sm-4  col-lg-3 ">
                            <div class="profile-widget">
                                <div class="user-img">
                                    <a class="avatar" href="profile.html"><img alt=""
                                            src="/img/doctor-thumb-03.jpg"></a>
                                </div>
                                <div class="dropdown profile-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="/admin/edit-user/<%=users[i]._id%>"><i
                                                class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" href="/admin/delete-user/<%=users[i]._id%>" data-toggle="modal"
                                            ><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                                <h4 class="user-name text-ellipsis"><a href="profile.html"><%=users[i].firstName +" "+ users[i].lastName%></a></h4>
                                <div class="doc-prof"><%=users[i].email%></div>
                                <div class="user-country">
                                    <i class="fa fa-map-marker"></i> <%=users[i].address%>
                                </div>
                                <div>
                                    <a href="/admin/user/<%=users[i]._id%>" class="btn btn-primary"> View More</a>
                                </div>
                            </div>

                        </div>
                        <%}%>
                        <%}%>
                        <%}%>
                </div>
        </div>
    </div>


 <script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>
</body> 
    <%-include('../layout/tail.ejs')%>