<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title><%=pageTitle%></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/jquery.slimscroll.js"></script>
    <link rel="stylesheet" href="\css\font-awesome.min.css" />
    <script src="/js/app.js"></script>
  </head>
</html>
