<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    Appointment
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link <%=path==='/'?'active':''%>" href="/">
        Home
      </a>
      <%if(!isAuthenticated){%>
      <a
        class="nav-item nav-link <%=path==='/signup'?'active':''%>"
        href="/signup"
      >
        Add User
      </a>
      <a
        class="nav-item nav-link <%=path==='/admin/users'?'active':''%>"
        href="/admin/users"
      ></a>
      <a
        href="/login"
        class="nav-item nav-link <%=path==='/login'?'active':''%>"
      >
        login
      </a>
      <%}else{%>
      <a
        href="/logout"
        class="nav-item nav-link <%=path==='/login'?'active':''%>"
      >
        logout
      </a>
      <%if(userType=='admin'){%>
      <a
        href="/admin/user-list"
        class="nav-item nav-link <%=path==='/admin/user-list'?'active':''%>"
      >
        users
      </a>
      <%}%> <%}%>
    </div>
  </div>
</nav>
